.height {
    height: 50vh;
}

@media screen and (max-width: 480px) {
    .height {
        height: 20vh
    }
    .height p {
        font-size: 11px !important;
    }

    .teamBg .height {
        height: 16vh !important;
    }
}